/* ***** Resets ***** */

html, body {
  color: rgba(0, 0, 0, 0.90);
  font-family: Verdana, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1, h2, p {
  line-height: 1;
  margin: 0;
}

header, section, footer {
  display: block;
  position: relative;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* ***** Layout ***** */

.main-header {
  padding: 16px 32px;
  border-bottom: 1px solid #CCC;
}

.main-content {
  padding-top: 40px;
  max-width: 920px;
  margin: 0 auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

.margin-right {
  margin-right: 8px;
}

.clearfix:before, .clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* ***** Controls ***** */

/* Buttons */
.btn {
  border: none;
  border-radius: 4px;
  font-weight: 600;
  outline: none;
  padding: 8px 24px;
  text-align: center;
  text-transform: capitalize;
}

.btn:hover {
  cursor: pointer;
}

.btn.btn--green {
  background: #1abc9c;
  color: white;
}

.btn-warn {
  position: relative;
}

.btn-warn__message {
  position: absolute;
  top: -28px;
  width: 105px;
  display: none;
  right: 0;
  background: #e74c3c;
  padding: 4px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
}

.btn-warn__message:after {
  display: block;
  content: '';
  position: absolute;
  bottom: -5px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #e74c3c;
}

/* Form controls */
.control-group {
  margin-bottom: 16px;
  display: block;
}

.control-group label {
  display: inline-block;
  font-weight: 600;
  vertical-align: middle;
}

.form-control, .selector__label {
  display: block;
  padding: 8px 16px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: 1px solid #CCC;
  margin-top: 4px;
}

.control-group--color {
  padding-left: 48px;
  position: relative;
}

.control-group--color label {
  margin-left: -48px;
}

.form-control--color {
  width: 40px;
  padding: 0;
  position: absolute;
  top: 18px;
  left: 0;
  height: 33px;
}

.errors {
  position: relative;
  display: block;
}

.errors__message {
  padding: 4px 4px;
  border-radius: 4px;
  background: #e74c3c;
  color: white;
  font-weight: 400;
  display: block;
  margin-top: 8px;
  position: relative;
  font-size: 12px;
}

.errors__message:before {
  position: absolute;
  display: block;
  content: '';
  top: -5px;
  left: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #e74c3c;
}

.damaged-reason-form {
  display: none;
}

/* ***** Modal ***** */

.backdrop {
  background: rgba(0, 0, 0, 0.40);
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  overflow: auto;
}

.modal {
  display: block;
  background: white;
  border-radius: 8px;
  min-height: 50px;
  margin: 30px auto;
  position: relative;
  max-width: 600px;
  z-index: 100;
  -webkit-animation-name: modal-animation;
  -webkit-animation-duration: 0.4s;
  animation-name: modal-animation;
  animation-duration: 0.4s
}

.modal__header {
  border-bottom: 1px solid #CCC;
  padding: 16px;
  position: relative;
}

.modal__title {
  font-size: 22px;
}

.model__subtitle {
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
}

.modal__close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.modal__footer {
  border-top: 1px solid #CCC;
  padding: 16px;
}

.modal__footer:before, .modal__footer:after {
  content: '';
  display: block;
  clear: both;
}

@-webkit-keyframes modal-animation {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes modal-animation {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

/* ***** Tabs ***** */

.tab-menu {
  background: #3498db;
}

.tab {
  display: none;
  padding: 16px;
}

.tab-menu {
  border-bottom: 1px solid #CCC;
}

.tab-menu__control {
  cursor: pointer;
  padding: 12px 16px;
  display: inline-block;
  color: white;
}

.tab-menu__control--active {
  border-bottom: 4px solid #e74c3c;
}

.tab--active {
  display: block;
}

/* ***** Table ***** */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr {
  border-bottom: 1px solid #CCC;
}

.table tr, .table td {
  text-align: left;
  line-height: 32px;
}

.table td img {
  width: 48px;
  display: inline-block;
  vertical-align: middle
}

/* ***** Toast ***** */

.toast {
  background: #34495e;
  position: fixed;
  display: none;
  max-width: 420px;
  z-index: 100;
  bottom: 20px;
  left: 30px;
}

.toast.toast--show {
  display: inline-block;
}

.toast__message {
  padding: 16px 32px;
  color: white;
}

/* ***** Switch ***** */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 33px;
}

.switch input {
  display: none;
}

.switch__icon {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
}

.switch__icon:before {
  position: absolute;
  content: "No";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  vertical-align: middle;
  line-height: 26px;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .switch__icon:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: 'Yes';
}

/* ***** General ***** */

.no-products-warning {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

#products-container .table {
  display: none;
}
